:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin: auto;
  padding: 0 30px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    width: 1366px;
  }
}
@media screen and (max-width: 1366px) {
  .wrapper {
    width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 768px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
  }
}
